
@model ExternalLoginViewModel

<h1>External provider registration</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-action="ExternalLoginConfirmation" method="post">
                <h4>Enter an email to associate your <strong>@ViewBag.Provider</strong> account.</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
