
@model ForgotPasswordViewModel

<h1>Forgot password</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-action="ForgotPassword" method="post">
                <h4>We'll send your an email with password reset link.</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
