
@using Microsoft.AspNetCore.Identity;
@using DataAccess.Entities;

@inject UserManager<AppUser> UserManager;

@{ 
    var user = UserManager.GetUserAsync(User);
    var isEmailConfirmed = user?.Result?.EmailConfirmed ?? false;
}

<div class="text-center">
    <h1 class="display-4">
        Welcome
        @if (User.Identity.IsAuthenticated)
        {
            <b>@User.Identity.Name</b><span>!</span>
        }
    </h1>

    @if (User.Identity.IsAuthenticated)
    {
        @if (!isEmailConfirmed)
        {
            <p>Verify your email</p>
            <a id="resend-confirmation" asp-controller="Account" asp-action="ResendEmailConfirmation">
                Resend email confirmation
            </a>
        }
        else
        {
            <p>Thank you for verifying your email</p>
        }
    }

</div>